.container {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

.container2 {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  background-color: black;
  border: 3px solid;
  border-radius: 4%;
  height: 40%;
  width: 40%;
}

.container3 {
  display: flex;
  align-items: center;
}

.angka {
  color: white;
  font-size: 100px;
}

.button1 {
  width: 10%;
  font-size: 300%;
  position: relative;
  background-color: red;
  border: 2px solid red;
  border-radius: 8%;
  color: white;
}

.button2 {
  width: 10%;
  font-size: 300%;
  position: relative;
  background-color: green;
  border: 2px solid green;
  border-radius: 8%;
  color: white;
}
