
.button {
    width: 65px;
    height: 65px;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
    margin: 10px; 
    cursor: pointer;
    border: none; 
    outline: none; 
    font-family: "Times New Roman", Times, serif;
  }
  

  .start-button {
    background-color: #05af02;
    color: white;
  }
  

  .stop-button {
    background-color: #ef0002;
    color: white;
  }
  

  .reset-button {
    background-color: #ffc605;
    color: white;
  }
  